
    .background-blur
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 13000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.floating-window{
    background-color: whitesmoke;
    width: 550px;
    height: fit-content;
    position: fixed;
    z-index: 15000;
    left: 50%;
    transform: translate(-50%);
    margin: 40px auto;
    border-radius: 20px;
    padding: 10px;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}
.hide-error{
    display: none;
}