.display-flex{
        display: flex;
    justify-content: space-between;
    padding-left: 6px;
    width: 93%;
    margin: 0px auto;
    padding-right: 6px;
    border-bottom: 2px solid;
}



.order{
    flex-direction: column;
    align-items: flex-start;
}
.order-more{
    justify-content: space-between;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px solid green;
    margin-left: 5px;
    width: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}